* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #ffffff;
    --text-color: #041126;
    --text-color-white: #ffffff;
    --primry-color: #ef4444;
    --second-color: #94a3b8;
    --other-color: #ffffffb3;
    --border-color: #e5e7eb;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 5000px;
}

.header {
    width: 100vw;
}

.header nav{
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 10%;
}

.header .logo a {
    color: var(--text-color-white);
    font-size: 2rem;
    font-weight: 700;
}


.header .navigation-list ul {
    display: flex;
    gap: 25px;
    transition: all .7s ease;
}

.header .navigation-list ul li a {
    color: var(--other-color);
    font-size: 1rem;
    font-weight: 800;
    transition: all .7s ease;
    text-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.7);
}

.header .navigation-list ul li a:hover {
    color: var(--text-color-white);
}

.header .hamburger-menu i,
.header .navigation-list .close-menu i {
    font-size: 2.3rem;
    z-index: 10000;
    color: var(--text-color-white);
    cursor: pointer;
    display: none;
}


.home {
    background: url(../images/bg-1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    animation: slide 25s infinite;
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 10%;
}

.home .home-box-content {
    margin-top: 14%;
}

.home .home-text h3 {
    color: var(--primry-color);
    font-family: 'Great Vibes', sans-serif;
    font-size: 2rem;
}

.home .home-text h1 {
    font-size: 3rem;
    color: var(--text-color-white);
}

.home .home-box-content .home-text p {
    font-size: 1rem;
    color: var(--other-color);
    font-weight: 600;
}

.home .home-box-content .home-btn a{
    margin-top: 20px;
    display: inline-block;
    margin-right: 15px;
    background-color: var(--primry-color);
    color: var(--text-color-white);
    font-weight: 500;
    padding: 6px 18px;
    border-radius: 5pc;
}

.home .home-box-content .home-btn .btn-chose-tour {
    background-color: transparent;
    border: 1px solid var(--primry-color);
    transition: 0.3s;
}

.home .home-box-content .home-btn .btn-chose-tour:hover {
    background-color: var(--primry-color);
}


.home .home-box-content .home-contain {
    display: flex;
    gap: 4rem;
    margin-top: 30px;
}


.home .home-box-content .home-contain .home-backrgound-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    object-fit: cover;
}

.home .home-box-content .home-contain .home-backrgound-img img:hover {
    transform: scale(1.02);
}

.home .home-box-content .home-contain .home-row h6 {
    text-align: center;
    color: var(--text-color-white);
    font-size: 0.7rem;
}

/* Keyframe animation slide home section */
@keyframes slide {
    25% {
        background-image: url(../images/bg-3.jpg);
        object-fit: cover;
    }
    50% {
        background-image: url(../images/bg-4.jpg);
    }
    75% {
        background-image: url(../images/bg-5.jpg);
    }
    100% {
        background-image: url(../images/bg-1.jpg);
        background-position: bottom;
    }
}

/* Destination */
.destination {
    padding: 5% 10%;
    position: relative;
    width: 100%;    
}

.destination .destination-box-content .destination-sub-title h3 {
    color: var(--primry-color);
    font-family: 'Great Vibes', sans-serif;
    font-size: 2rem;
}

.destination .destination-box-content .destination-title h2 {
    font-size: 2rem;
    color: var(--text-color);
}

.destination .destination-box-content .destination-card-row {
    display: flex;
    justify-content: start;
    margin-top: 1.6rem;
    width: 100%;
    overflow-x: scroll;
    gap: 15px;
    scrollbar-color: transparent transparent;
    scroll-snap-type: x mandatory;
}

.destination .destination-box-content .destination-card-content .destination-card-img img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.7);
    cursor: pointer;
    scroll-snap-align: start;
    object-fit: cover;
}

.destination .destination-box-content .destination-card-content .destination-card-title h3 {
    text-align: center;
    margin-top: 8px;
}




/* Responsive */
@media(max-width: 768px) {


    .header .navigation-list {
        position: absolute;
        background-color: var(--primry-color);
        width: 200px;
        right: -210px;
        top: 90%;
        border-top-left-radius: 30%;
        border-bottom-left-radius: 30%;
        transition: 0.5s;
    }

    .header .navigation-list ul {
        display: block;
        padding: 3.7rem 3.5rem 1rem;
    }

    .header .navigation-list ul li {
        margin-bottom: 15px;
    }

    .header .hamburger-menu i{
        display: block;
    }

    .header .navigation-list .close-menu i {
        display: block;
        position: absolute;
        left: 14%;
        top: 4%;
    }

    
    .home {
        width: 100%;
        padding: 12% 10%;
        align-items: start;
    }

    .home .home-box-content .home-contain {
        gap: 2rem;
        flex-wrap: wrap;
    }

  
   
}


@media (max-width: 450px) {

    .header nav {
        padding: 0.7rem 10%;
    }

    .header .logo a ,
    .header .hamburger-menu i{
        font-size: 1.5rem;
    }

 


    .home .home-box-content .home-text h3 {
        font-size: 1.3rem;
    }

    .home .home-box-content .home-text h1 {
        font-size: 1.8rem;
    } 

    .home .home-box-content .home-contain {
        flex-wrap: nowrap;
        justify-content: center;
        gap: 1rem
    }

    .home .home-box-content .home-contain .home-backrgound-img {
        display: flex;
        width: 70px;
        height: 70px;
        justify-content: center;
        align-items: center;
    }

    .home .home-box-content .home-contain .home-backrgound-img img {
        width: 60px;
        height: 60px;
    }

    .home .home-box-content .home-contain .home-row h6 {
        font-size: 0.7rem;
        text-align: center;
    }

    .destination {
        padding: 15% 10%;
    }

    .destination .destination-box-content .destination-sub-title h3 {
        font-size: 1.8rem;
    }

    .destination .destination-box-content .destination-title h2 {
        font-size: 1.8rem;
    }

    .destination .destination-box-content .destination-card-content .destination-card-img img {
        width: 150px;
        height: 200px;
    }
}